[data-theme='dark'] .benefit-card {
  background-color: #1E3A8A;
  border: 1px solid #3B82F6;

  padding: 8px;
  margin: 8px;
  border-radius: 8px;

  .title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
  };

  .description {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 18px;
    color: #888;
    color: #BFDBFE;
  };
}