.benefit-sync-api {
    display: flex;
    padding: 16px;

    .imports {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .import {
        width: 230px;
        background-color: rgb(131, 124, 172);
    }

    .showcase {
        flex-grow: 1;
        justify-content: left;
    }

    .showcase {
        .runtime {
            color: #caca9d;
        }

        .type {
            color: #4ec9b0;
        }
    }
}

.runtime-import-zuord {
    transition: all 0.25s ease;
}

.runtime-import-zuord:hover {
    padding: 0px 12px;
}