.benefit-sync-api {
    padding: 16px;

    .runtime, .type {
        display: flex;

        .import {
            width: 230px;
            background-color: rgb(131, 124, 172);
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 280px;

            .button {
                background-color: gray;
                border-radius: 8px;
                padding: 0 4px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
            }
        }
    }
}

.runtime-import-zuord {
    transition: all 0.25s ease;
}

.runtime-import-zuord:hover {
    padding: 0px 12px;
}