.benefits {
    .cards {
        display: flex;
        
        .left-column {
            flex: 1;
            margin-right: 16px;
        }

        .right-column {
            flex: 1;
            margin-left: 16px;
        }
    }
}