.benefits {
    .cards {
        display: flex;
        margin: 0 10%;

        .left-column, .right-column {
            flex: 1;
            min-width: 0;
        }

        .left-column {
            :global(.benefit-card) {
                margin-right: 8px;
            }
        }

        .right-column {
            :global(.benefit-card) {
                margin-left: 8px;
            }
        }
    }
}