.benefits {
    .cards {
        display: flex;
        padding: 0 10%;

        .left-column {
            flex: 1;

            .benefit-card {
                margin-right: 8px;
            }
        }

        .right-column {
            flex: 1;

            .benefit-card {
                margin-left: 8px;
            }
        }
    }
}