.benefit-sync-api {
    display: flex;
    padding: 16px;

    .import {
        width: 230px;
        background-color: rgb(131, 124, 172);
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 280px;

        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        .box {
            background-color: #3A3B3C;
            border-radius: 8px;
            height: 24px;
            line-height: 24px;
            font-size: 14px;
            user-select: none;
            transition: all 0.30s ease-in-out;
            font-weight: 500;
            position: relative;
            padding: 0px 8px;
            margin: 3px 4px;

            .layout {
                display: inline-block;
                position: relative;
                z-index: 100;
                opacity: 0;

                .text {
                    font-size: 14px;
                }
            }

            .visual {
                display: flex;
                position: absolute;
                overflow: hidden;
                top: 0; left: 0;
                width: 100%;
                height: 100%;

                .text {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    transition: all 0.30s ease-in-out;
                }

                .last {
                    transform: translateX(100%);
                    opacity: 0;
                    white-space: nowrap;
                }
            }
        }

        .box:has(.layout:hover) {
            background-color: #4A4B4C;
            padding: 0px 10px;
            margin: 3px 2px;

            .first {
                opacity: 0;
                transform: translateX(-100%);
            }

            .last {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .runtime {
            color: #caca9d;
        }

        .type {
            color: #4ec9b0;
        }
    }
}

.runtime-import-zuord {
    transition: all 0.25s ease;
}

.runtime-import-zuord:hover {
    padding: 0px 12px;
}