[data-theme='dark'] .card {
  background-color: #333;
  border-color: #444;
}

[data-theme='dark'] .title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

[data-theme='dark'] .description {
  font-size: 1em;
  color: #666;
}