[data-theme='dark'] .benefit-card {
  background-color: #242526;
  border: 1.5px solid #444950;
  padding: 16px;
  margin: 16px;
  border-radius: 12px;
  overflow: hidden;

  .title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #E0E0E0;
  }

  .description {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 18px;
    color: #B0B0B0;
  }
}
