[data-theme='dark'] .benefit-card {
  background-color: #333;
  border-color: #444;

  .title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
  };

  .description {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 18px;
    color: #888;
  };
}