.docsapi-definition {
    gap: 8px;
    margin: 16px 0;
}

.docsapi-definition {
    .content {
        display: inline;
        align-items: center;
    }

    .content {
        .head {
            display: inline-block;
            padding: 0 6px;
            border: 1px solid #ccc;
            border-radius: 8px;
            min-width: max-content;
        }

        .separator {
            display: inline;
            padding: 0 6px;
            max-width: max-content;
        }

        .label {
            display: inline;
            line-height: 20px;
        }
    }
}