.feature-monitor {
    background-color: #242526;
    border: 1.5px solid #444950;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 300px;

    .content {
        display: flex;
        height: 100%;

        .view, .analyze {
            flex: 1;
        }
    }
}