.pretext {
    background: transparent;
    font-size: 14px;
    padding: 3px;
    margin: 3px;

    .token.animated {
        padding: 4px 8px;
        border: 1.5px solid #727881;
        border-radius: 8px;
    }
}