.pretext {
    background: transparent;
    font-size: 14px;
    padding: 3px;
    margin: 3px;
    overflow: hidden;

    .token.animated {
        padding: 4px 8px;
        border: 1.5px solid #727881;
        border-radius: 8px;
        position: relative;
    }

    .token.animated {
        .layout {
            .text.zero {
                opacity: 0;
                visibility: hidden;
            }
        }

        .visual {
            position: absolute;
            overflow: hidden;
            bottom: 0; left: 0;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
        }

        .visual {
            .text.first {
                opacity: 1;
            }

            .text.second {
                opacity: 0;
            }
        }

        .visual:hover {
            .text {
                translate: 0 100%;                
                transition: all 0.3s ease-in-out;
            }

            .text.first {
                opacity: 0;
            }

            .text.second {
                opacity: 1;
            }
        }
    }
}