.showcase {
    position: relative;
    display: flex;
    justify-content: center;
}

.showcase {
    .panel {
        width: max-content;
    }

    .panel {
        .container {
            display: grid;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        
        .container {
            .control {
                background-color: #3A3B3C;
                border-radius: 8px;
                height: 24px;
                line-height: 24px;
                font-size: 14px;
                user-select: none;
                transition: all 0.30s ease-in-out;
                font-weight: 500;
                position: relative;
                padding: 0 6px;
                margin: 0 4px;
                cursor: pointer;
            }

            .control:hover {
                transition: all 0.10s ease-in-out;
                background-color: #4A4B4C;
            }

            .control.focused {
                background-color: #4A4B4C;
            }

            .control {
                .layout {
                    display: inline-block;
                    position: relative;
                    z-index: 100;
                    opacity: 0;
                }

                .layout {
                    .text {
                        font-size: 14px;
                    }
                }

                .visual {
                    display: flex;
                    position: absolute;
                    overflow: hidden;
                    top: 0; left: 0;
                    width: 100%;
                    height: 100%;
                }

                .visual {
                    .text {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        transition: all 0.30s ease-in-out;
                        white-space: nowrap;
                    }

                    .text.first {
                        opacity: 1;
                        transform: translateX(0);
                    }

                    .text.second {
                        opacity: 0;
                        transform: translateX(100%);
                    }
                }
            }

            .control.focused {
                .visual {
                    .text.first {
                        opacity: 0;
                        transform: translateX(-100%);
                    }

                    .text.second {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }

        .inspector {
            background-color: #292a2c;
            border: 1.5px solid #444950;
            border-radius: 8px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.10s ease-in;
        }

        .inspector.active {
            opacity: 1;
            visibility: visible;
        }
    }
}


.inspector {
    .head {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .head {
        .content {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .box {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #3A3B3C;
            border-radius: 8px;
            margin: 6px;
        }
    }

    .body-content {
        .footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 8px;
        }

        .footer {
            .decl {
                display: flex;
                align-items: center;
            }

            .box {
                width: 16px;
                height: 16px;
                border: 1px solid white;
                border-radius: 4px;
                display: inline-block;
                margin-right: 4px;
            }
            
            .decl.source {
                .box {
                    background-color: #9A1356; //8B004B;
                }
            }

            .decl.patch {
                .box {
                    background-color: #007A44; //007B8B;
                }
            }
        }
    }
} 